<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="Calculator-main">
    <div class="Calculator-display">
      <ion-input
        id="result"
        type="number"
        [(ngModel)]="display"
        class="ion-text-end"
        placeholder="Resultado"
      ></ion-input>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(7)"
            value="7"
            color="light"
            >7</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(8)"
            value="8"
            color="light"
            >8</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(9)"
            value="9"
            color="light"
            >9</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            expand="full"
            (click)="addNumberOrSimbol('+')"
            value="+"
            color="warning"
            >+</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(4)"
            value="4"
            color="light"
            >4</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(5)"
            value="5"
            color="light"
            >5</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(6)"
            value="6"
            color="light"
            >6</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            expand="full"
            (click)="addNumberOrSimbol('-')"
            value="-"
            color="warning"
            >-</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(1)"
            value="1"
            color="light"
            >1</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(2)"
            value="2"
            color="light"
            >2</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(3)"
            value="3"
            color="light"
            >3</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            expand="full"
            (click)="addNumberOrSimbol('*')"
            value="*"
            color="warning"
            >*</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(',')"
            value=","
            color="light"
            >.</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            (click)="addNumberOrSimbol(0)"
            value="0"
            color="light"
            >0</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            expand="full"
            (click)="addNumberOrSimbol('ac')"
            value="AC"
            color="danger"
            >AC</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            shape="round"
            expand="full"
            (click)="addNumberOrSimbol('/')"
            value="/"
            color="warning"
            >/</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      shape="round"
      expand="full"
      color="success"
      (click)="addNumberOrSimbol('=')"
      >Calcular</ion-button
    >
  </div>
</ion-content>
